.blog-posts {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 40px;
}

.blog-post {
    width: calc(50% - 20px);
    margin-bottom: 40px;
}

.blog-post img {
    width: 80%;
    border-radius: 10px;
}

.blog-post h2 {
    font-size: 24px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.blog-post p {
    font-size: 16px;
    line-height: 1.6;
    margin-bottom: 20px;
}

.read-more {
    display: inline-block;
    background-color: var(--yellow);
    color: var(--bg);
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
}

.read-more:hover {
    background-color: var(--yellow);
}
