@import url(../../style.css);

.content {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

.content h1 {
    font-size: 36px;
    font-weight: bold;
    color: var(--white);
    margin-bottom: 20px;
}

.content p {
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 20px;
}